/* ==================Variables==================== */ /* ==================Local Resets==================== */
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* ==================Body Styles==================== */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin: auto;
}

/* ==================Container==================== */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

/* ==================Utilites==================== */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

/* ==================All Buttons==================== */
.button-primary {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  max-height: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  padding: 10px 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primary:hover, .button-primaryfocus {
  background-color: #188ce8;
  color: #ffffff;
}

.button-secondary {
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover, .button-secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-btn {
  padding: 10px 28px;
  font-weight: 600;
  line-height: 1.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  fill: #ffffff;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  fill: #2196f3;
}

.modal-submit-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 52px;
  margin-top: 30px;
  -ms-flex-item-align: center;
      align-self: center;
}

/* ==================Logo==================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

.footer-logo-color {
  color: #ffffff;
}

.head-logo-color {
  color: #000000;
}

/* ==================Navigation==================== */
.link {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.navigalion {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigalion:hover, .navigalion:focus {
  color: #2196f3;
}

.contact {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: #2196f3;
}

.active-page {
  color: #2196f3;
}
.active-page:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* ==================Headder==================== */
header {
  border-bottom: 1px solid #ececec;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 94px;
  gap: 50px;
}

.menu {
  position: relative;
}

.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-icons {
  margin-right: 10px;
  fill: currentColor;
}
.address-icons:hover, .address-icons:focus {
  fill: #2196f3;
}

/* ==================HERO Section==================== */
.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 30px;
}

/* ==================Clients Section==================== */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-preferred-size: 170px;
      flex-basis: 170px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-icons {
  width: 170px;
  height: 92px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: transparent;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icons:hover, .client-icons:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* ==================Portfolio Page==================== */
.porfolio-buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: #2196f3;
  padding: 63px 24px;
  opacity: 0.9;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card-descr, .card:focus .card-descr {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-card-item > a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.portfolio-card-item img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio-item-titles-cont {
  border: 1px solid #eeeeee;
  border-top: transparent;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 24px;
}
.portfolio-item-titles-cont > h2 {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.portfolio-item-titles-cont > p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

/* ==================FOOTER==================== */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.footer-addresses-container {
  width: 231px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address-list {
  margin-bottom: 9px;
}
.address-list:last-child {
  margin-bottom: 0;
}

address,
.address-item {
  font-style: inherit;
  text-decoration: inherit;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location:hover, .location:focus {
  color: #2196f3;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: #2196f3;
}

.footer-links {
  padding-top: 12px;
}

.links-dscr {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-lnks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.ft-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ft-icon:hover, .ft-icon:focus {
  background-color: #2196f3;
}

.footer-form {
  padding-top: 12px;
  margin-left: auto;
}

.footer-form-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.subscribe {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding: 16px 15px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe:not(:-moz-placeholder-shown) {
  border: 1px solid #2196f3;
}
.subscribe:not(:-ms-input-placeholder) {
  border: 1px solid #2196f3;
}
.subscribe:not(:placeholder-shown), .subscribe:focus {
  border: 1px solid #2196f3;
}

/* ==================MODAL==================== */
.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  background-color: #ffffff;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-form {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 4px;
}
.modal-label:first-child {
  margin-top: 12px;
}

.form-frame {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  outline: none;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-frame:focus, .form-frame:active {
  border-color: #2196f3;
}

.modal-field-thumb {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-frame:focus ~ .modal-form-icon, .form-frame:active ~ .modal-form-icon {
  fill: #2196f3;
}

.form-frame.textarea {
  height: 120px;
  padding: 12px 16px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-frame.textarea::-webkit-input-placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-frame.textarea::-moz-placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-frame.textarea:-ms-input-placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-frame.textarea::-ms-input-placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-frame.textarea::placeholder {
  color: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-frame.textarea:focus, .form-frame.textarea:active {
  border-color: #2196f3;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
  color: #757575;
  margin-top: 20px;
  gap: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.policy-link {
  text-decoration: underline;
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-link:focus, .policy-link:hover {
  color: #1475c6;
}

.checkbox-icon {
  display: inline-block;
  border: 1.8px solid #212121;
  border-radius: 2px;
  Width: 16px;
  height: 15px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/Checked-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}/*# sourceMappingURL=main.css.map */