/* 
    logo colors:
        blue one : #2196F3
        black one: #000000
        white one: #ffffff
    primary text color: #212121
    secondary text color: #757575
    primary page  color: #FFFFFF
    secondary page color: #2F303A
    accent color: #2196F3
    section color: #F5F4FA
    footer links color :rgba(255, 255, 255, 0.6)
    border: 1px solid #ECECEC;
*/

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--primary-page-color: #ffffff;
	--secondary-page-color: #2f303a;

	--accent-color: #2196f3;
	--section-color: #f5f4fa;
	--pure-black-logo-color: #000000;
	--pure-whie-logo-color: #ffffff;
	--footer-link-color: rgba(255, 255, 255, 0.6);

	--icons-color: #afb1b8;
}

/* ==================UTILITES==================== */

h1,
h2,
h3,
h4,
ul,
li,
p {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

body {
	background-color: var(--primary-page-color);
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.14;
	margin: auto;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--primary-text-color);
	margin-bottom: 50px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.is-hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}
/* ==================button styles==================== */

.button-primary {
	background-color: var(--accent-color);
	color: var(--pure-whie-logo-color);
	border: none;
	min-width: 216px;
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-family: inherit;
	font-weight: 700;
	letter-spacing: 0.06em;
	font-size: 16px;
	line-height: 1.85;
	text-align: center;

	padding: 10px 32px;

	transition: 
		color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.button-primary:hover,
.button-primary:focus {
	background-color: #188CE8;
	color: var(--pure-whie-logo-color);
}
.button-secondary {
	background-color: var(--section-color);
	color: var(--primary-text-color);
	border: none;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;

	padding: 6px 22px;

	transition: 
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-secondary:hover,
.button-secondary:focus {
	background-color: var(--accent-color);
	color: var(--pure-whie-logo-color);
	box-shadow: 
		0px 3px 1px rgba(0, 0, 0, 0.1), 
		0px 1px 2px rgba(0, 0, 0, 0.08), 
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==================LOGO==================== */

.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	color: var(--accent-color);
}
.footer-logo-color {
	color: var(--pure-whie-logo-color);
}
.head-logo-color {
	color: var(--pure-black-logo-color);
}

/* navigation and contact menu styles  */

.link {
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 0.02em;
}
.navigalion {
	color: var(--primary-text-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navigalion:hover,
.navigalion:focus {
	color: var(--accent-color);
}
.contact {
	color: var(--secondary-text-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contact:hover,
.contact:focus {
	color: var(--accent-color);
}
.active-page {
	color: var(--accent-color);
}

.active-page::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	transform: translate(0, -3px);

	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
}

/* ==================Headder==================== */

header {
	border-bottom: 1px solid #ececec;
}
.main-flex {
	display: flex;
	align-items: center;
}
.site-nav {
	display: flex;
	margin-left: 94px;
}
.site-nav .menu + .menu {
	margin-left: 50px;
}
.menu {
	position: relative;
}
.site-contacts {
	display: flex;
	margin-left: auto;
}
.site-contacts .menu + .menu {
	margin-left: 50px;
}
.head {
	display: inline-flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
}
.address-icons {
	margin-right: 10px;
	fill: currentColor;
}
.address-icons:hover,
.address-icons:focus {
	fill: var(--accent-color);
}
/* ==================SECTIONS==================== */

/* Section =  HERO */

.hero-section {
	background-color: var(--secondary-page-color);
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(
		rgba(47, 48, 58, 0.4), 
		rgba(47, 48, 58, 0.4)), 
		url(../images/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.hero-title {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	margin-bottom: 30px;
}

/* Section =  features */

.items-positions {
	display: flex;
	flex-basis: 270px;
	gap: 30px;
}

.features-bg {
	display: flex;
	background-color: var(--section-color);
	height: 120px;
	border: none;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
}

.features-item > h3 {
	text-transform: uppercase;
	margin-bottom: 10px;
}
.features-item > p {
	color: var(--secondary-text-color);
	line-height: 1.71;
}

/* Section = What we are doing */
.items {
	position: relative;
}
.gallery {
	padding-top: 0px;
	display: flex;
	gap: 30px;
}
.gallery-photo {
	display: block;
}
.gallery-description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	color: var(--pure-whie-logo-color);
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
}

/* Section =  TEAM */

.team {
	background-color: var(--section-color);
}
.team-cards {
	display: flex;
	gap: 30px;
	flex-basis: 270px;
}
.team-card img {
	display: block;
}

.team-card {
	text-align: center;
	background-color: var(--primary-page-color);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 
		0px 1px 3px rgba(0, 0, 0, 0.12), 
		0px 1px 1px rgba(0, 0, 0, 0.14), 
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member-card-description {
	padding: 30px;
}
.member-card-description h3 {
	font-size: 16px;
	line-height: 1.18;
	margin-bottom: 10px;
}
.member-card-description p {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.18;
	color: var(--secondary-text-color);
}

.link-cards {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 10px;
}
.card-icons {
	display: flex;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	fill: var(--icons-color);

	transition:
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.card-icons:hover,
.card-icons:focus {
	fill: var(--pure-whie-logo-color);
	background-color: var(--accent-color);
}
/* ==================Clients list==================== */
.clients-list {
	display: flex;
	gap: 30px;
	flex-basis: 170px;
	justify-content: center;
}

.client-icons {
	width: 170px;
	height: 92px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--icons-color);
	border-radius: 4px;
	background-color: transparent;
	fill: var(--icons-color);

	transition: 
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.client-icons:hover,
.client-icons:focus {
	border: 1px solid var(--accent-color);
	fill: var(--accent-color);
	
}
/* ==================Portfolio Page==================== */

.porfolio-buttons-row {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.portfolio-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	flex-basis: 370px;
}
.card-overlay {
	position: relative;
	overflow: hidden;
}
.card-shadow {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-shadow:hover,
.card-shadow:focus {
	box-shadow: 
		0px 1px 1px rgba(0, 0, 0, 0.12), 
		0px 4px 4px rgba(0, 0, 0, 0.06), 
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-shadow:hover .card-descr,
.card-shadow:focus .card-descr {
	transform: translateY(0);
}
.card-descr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	color: var(--pure-whie-logo-color);

	background-color: var(--accent-color);
	padding: 63px 24px;
	opacity: 0.9;
	transform: translateY(100%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-card-item > a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.portfolio-card-item img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.portfolio-item-titles-cont {
	border: 1px solid #eeeeee;
	border-top: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 24px;
}
.portfolio-item-titles-cont > h2 {
	font-size: 18px;
	line-height: 2;
	margin-bottom: 4px;
}

.portfolio-item-titles-cont > p {
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.87;
}

/* ==================FOOTER==================== */
footer {
	background-color: var(--secondary-page-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.flex-cnt {
	display: flex;
	gap: 70px;
}
.footer-addresses-container {
	width: 231px;
}
.footer-logo {
	display: block;
	margin-bottom: 20px;
}
.address-list {
	margin-bottom: 9px;
}
.address-list:last-child {
	margin-bottom: 0;
}
address,
.address-item {
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.71;
	color: var(--footer-link-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.location {
	color: var(--pure-whie-logo-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus,
.location:hover,
.location:focus {
	color: var(--accent-color);
}
.footer-links {
	padding-top: 12px;
}
.links-dscr {
	text-transform: uppercase;
	color: var(--primary-page-color);
	font-weight: 700;
	font-size: 1.14;
	line-height: 16px;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}
.footer-lnks-list {
	display: flex;
	gap: 10px;
}

.ft-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	fill: var(--pure-whie-logo-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ft-icon:hover,
.ft-icon:focus {
	background-color: var(--accent-color);
}

/* ==================MODAL==================== */
.backdrop {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	position: relative;
	background-color: var(--pure-whie-logo-color);
	width: 528px;
	height: 581px;
	border-radius: 4px;
}
.close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
