/* 
    logo colors:
        blue one : #2196F3
        black one: #000000
        white one: #ffffff
    primary text color: #212121
    secondary text color: #757575
    primary page  color: #FFFFFF
    secondary page color: #2F303A
    accent color: #2196F3
    section color: #F5F4FA
    footer links color :rgba(255, 255, 255, 0.6)
    border: 1px solid #ECECEC;
*/

:root{
    --primary-text-color: #212121;
    --secondary-text-color : #757575;
    --primary-page-color:#ffffff;
    --secondary-page-color: #2F303A;

    --accent-color: #2196f3;
    --section-color: #F5F4FA;
    --pure-black-logo-color: #000000;
    --pure-whie-logo-color: #ffffff;
    --footer-link-color:rgba(255, 255, 255, 0.6);
}

/* ==================BODY==================== */

h1,h2,h3,h4,ul,li,p{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}

body{
    background-color: var(--primary-page-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin: auto;
}

.section-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ==================button styles==================== */

.button-primary{
    background-color: var(--accent-color);
    color: var(--pure-whie-logo-color);
    width: 216px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.85;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}
.button-primary:hover,.button-primary:focus{
    background-color: var(--section-color);
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
}
.button-secondary{
    background-color: var(--section-color);
    color: var(--primary-text-color);
    height: 38px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit; 
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px ;

}
.button-secondary:hover,.button-secondary:focus{
    background-color: var(--accent-color);
    color: var(--pure-whie-logo-color);
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==================LOGO==================== */

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}
.footer-logo-color{
    color: var(--pure-whie-logo-color);
}
.head-logo-color{
    color: var(--pure-black-logo-color);
}

/* navigation and contact menu styles  */
.link{
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.navigalion{
    color: var(--primary-text-color); 
}
.navigalion:hover, .navigalion:focus{
    color:var(--accent-color);
}
.contact{
    color:var(--secondary-text-color);
}
.contact:hover, .contact:focus{
    color: var(--accent-color);
}

.main-studio{
       width: 1600px;
       margin: auto;
}

/* ==================Headder==================== */


header{
    padding: 24px 215px;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid #ECECEC;
    height: 80px;
    width: 1600px;
    margin: auto;
}
.site-nav{
    width: 281px;
    height: 31px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 93px;
}
.site-contacts{
    width: 307px;
    height: 31px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 344px;
    
}

/* ==================SECTIONS==================== */

/* Section =  HERO */

.hero{
    background-color: var(--secondary-page-color);
    padding: 200px 452px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-title{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    margin-bottom: 30px;  
}

/* Section =  features */

.features{
    padding: 94px 215px;
}

.items-positions{
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.features-item{
    width: 270px;
    height: 98px;
}
.features-item>h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
.features-item>p{
    color: var(--secondary-text-color);
    line-height: 1.71;
}


/* Section = What we are doing */

.photo-gallery{
    padding: 0 215px 94px 215px;
}
.gallery-items{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Section =  TEAM */

.team{
    background-color: var(--section-color);
    padding: 94px 215px 94px 215px;
}
.team-cards{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.team-card{
    text-align: center;
    width: 270px;
    height: 368px;
    background-color: var(--primary-page-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card-titles{
    padding: 30px 0;
}
.team-card h3{
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}
.team-card p{
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
   
}



/* ==================Portfolio Page==================== */

.main-portfolio{
    margin: auto;
    width: 1170px;
    padding: 94px 215px;
}
.main-portfolio>h1{
    display:none;
}
.porfolio-buttons-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 296px 0 297px ;
}

.portfolio-cards{
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}
.portfolio-card-item{
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
    text-decoration: none;
}
.portfolio-card-item h2{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}
.portfolio-card-item a{
    text-decoration: none;
    color: inherit;
}
.portfolio-card-item  p{
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text-color);
}
.portfolio-item-titles-cont{
    padding: 20px 24px;
}

/* ==================FOOTER==================== */
footer{
    background-color: var(--secondary-page-color);
    padding: 60px 215px;
    box-sizing: border-box;
    height: 252px;
    width: 1600px;
    margin: auto;
}

address, .address-item{
    font-style: inherit;
    text-decoration: inherit;
    line-height: 1.71;
    color: var(--footer-link-color);
}
.footer-logo{
    margin-bottom: 20px;
}
address>ul{ 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 81px;
}
.location{
    color: var(--pure-whie-logo-color);
}
.location:hover, .location:focus{
    color: var(--accent-color);
}

.mail:hover, .mail:focus{
     color: var(--accent-color);
}

.tel:hover, .tel:focus{
     color: var(--accent-color);
}
.left-side-footer-elements{
    width: 231px;
    height: 132px;
}