/* ==================Clients Section==================== */
.clients{
	@include flex_grid(6);
	@include flex_centering;
}

.client__icon {
	width: 170px;
	height: 92px;
	@include flex_centering(inline-flex);
	border: $border_std $icons-color;
	border-radius: 4px;
	background-color: transparent;
	fill: $icons-color;

	transition: fill $anim-std, border $anim-std;
    &:hover, &:focus{
        border: $border_std $accent-color;
	    fill: $accent-color;
    }
}
