/* ==================Clients Section==================== */
.clients{
	@include flex_grid(6);
	@include flex_centering;

	@media screen and (max-width: $mobile) {
		@include flex_grid(2, 15px);
		flex-wrap: wrap;
		align-content: space-between;
		
	}
}

.clients__icon {
	max-width: 170px;
	height: 92px;
	@include flex_centering(inline-flex);
	border: $border_std $icons-color;
	border-radius: 4px;
	background-color: transparent;
	fill: $icons-color;

	transition: fill $anim-std, border $anim-std;
    &:hover, &:focus{
        border: $border_std $accent-color;
	    fill: $accent-color;
    }


	@media screen and (max-width: $mobile){
		min-width: calc(((100vw - 30px)/2) - 15px)
	}
}
