/* ==================Headder==================== */
header{
	border-bottom: $border_std #ececec;
}
.header {
	@include flex_centering;
	
}
.header-nav__menu {
	@include flex_grid(3, 50px);
	margin-left: 94px;
	font-weight: 500;
	letter-spacing: 0.02em;
	
}

.header-nav__item  {
	@include flex_centering(inline-flex);
	padding: 32px 0px;
	position: relative;
	
	transition: color $anim-std;
    &:hover, &:focus{
        color: $accent-color;
    }
}
.active-page {
	color: $accent-color;
	transition: none;
	
    &:after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
		width: 100%;
		height: 4px;
		transform: translate(0, -3px);
		background-color: $accent-color;
		border-radius: 2px;
    }
}

.header-contacts {
	@include flex_grid(2, 50px);
	justify-content: flex-end;
	margin-left: auto;
}

.header-contacts__item {
	@include flex_centering;
	font-weight: 500;
	padding: 32px 0px;
	color: $secondary-text-color;
	transition: color $anim-std;
    &:hover, &:focus{
        color: $accent-color;
    }
}
.header-contacts__icons {
	margin-right: 10px;
	fill: currentColor;
	&:hover,
	&:focus {
		fill: $accent-color;
	}
}
