/* ==================Headder==================== */
header {
	border-bottom: $border_std #ececec;
}
.main-flex {
	@include flex_centering;
}
.site-nav {
	@include flex_grid(3, 50px);
	margin-left: 94px;
}
.menu {
	position: relative;
}
.site-contacts {
	@include flex_grid(2, 50px);
	justify-content: flex-end;
	margin-left: auto;
}
 
.head {
	@include flex_centering(inline-flex);
	padding: 32px 0px;

}
.address-icons {
	margin-right: 10px;
	fill: currentColor;
    &:hover, &:focus{
        fill: $accent-color;
    }
}
