/* ==================HERO Section==================== */
.hero {
	background-color: $secondary-page-color;
	padding-top: 118px;
	padding-bottom: 118px;
	text-align: center;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;

	max-width: 480px;

	background-image: linear-gradient(
		rgba(47, 48, 58, 0.4),
	 	rgba(47, 48, 58, 0.4)), 
		url(../images/hero/hero-mobile.jpg);

	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient (
				rgba(47, 48, 58, 0.4), 
				rgba(47, 48, 58, 0.4)),
				url(../images/hero/hero-mobile@2x.jpg);
		}
	}

	@media screen and (min-width: $tablet) {
		max-width: 768px;
		background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)), 
			url(../images/hero/hero-tablet.jpg);
	}

	@media screen and (min-width: $tablet),
		(min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient (
				rgba(47, 48, 58, 0.4),
				 rgba(47, 48, 58, 0.4)),
				url(../images/hero/hero-tablet@2x.jpg);
		}
	}

	@media screen and (min-width: $desktop) {
		padding-top: 200px;
		padding-bottom: 200px;
		max-width: 1600px;
		background-image: linear-gradient(
			rgba(47, 48, 58, 0.4), 
			rgba(47, 48, 58, 0.4)),
			url(../images/hero/hero-desktop.jpg);
	}

	@media screen and (min-width: $desktop),
	(min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient (
			rgba(47, 48, 58, 0.4),
			 rgba(47, 48, 58, 0.4)),
			url(../images/hero/hero-desktop@2x.jpg);
	}
}
}
.hero__title {
	color: $primary-page-color;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.61;

	margin-bottom: 40px;

	@media screen and (min-width: $tablet) {
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;

		text-transform: uppercase;
		text-align: center;

		margin-bottom: 30px;
	}
}
