@mixin flex_grid ($items, $gap:30px){
	display: flex; 
    flex-basis: calc((100vw -  (($items - 1) * $gap)) / $items);
	gap: $gap;
}
@mixin flex_centering ($type:flex){
    display: $type;
    align-items: center;
	justify-content: center;

}
@mixin hide_items{
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}
