/* ==================utilities==================== */

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.is-hidden {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
	
	@media screen and (max-width: $mobile) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
.section__title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: $primary-text-color;
	margin-bottom: 50px;

	@media screen and (max-width: $mobile) {
		margin-bottom: 30px;
    }
}
.link {
	text-decoration: none;
	color: inherit;
}


